<header class="site-header" role="banner">
  <!-- <div class="row">
    <div class="wrapper">

      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}

      {%- if page_paths -%}
        <nav class="site-nav">
          <div class="trigger">
            {% assign menu_items = site.data.main_menu.docs %}
            <ol class="site-menu">
              {%- for item in menu_items -%}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
              {%- endfor -%}
            </ol>

          </div>
        </nav>

      {%- endif -%}
    </div>
  </div> -->
  <div class="row header-row-2">
    <div class="col-sm-2">
      <a href="/" class="logo">
        <!-- <img src="{{site.baseurl}}/assets/images/logo_v1.png" width="90" height="90" alt="Logo"> -->
        <img src="{{site.baseurl}}/assets/images/logo_v2.svg" width="90" height="90" alt="Logo" title="Home">
      </a>
    </div>
    <div class="col-sm-8">
      <h1>{{ site.title | escape }}</h1>
      <p>Insights and information on cloud computing and 5G for Telcos and all</p>
      <div></div>
    </div>
    <div class="col-sm-2"></div>

  </div>
</header>
