<header class="site-header" role="banner">
  <div class="header-row-2">
    <div class="header-row-container">
      <div class="brand">
        <a href="/" class="logo">
          <img src="{{site.baseurl}}/assets/images/logo_v2.svg" width="90" height="90" alt="Logo" title="Home">
        </a>
        <div class="brand-name">
          <h1 class="main-heading">{{ site.title | escape }}</h1>
        </div>
      </div>
  
      <div class="menu-container">
        <nav class="main-menu">
          {% assign menu_items = site.data.main_menu.items %}
          <ul class="site-menu">
            {%- for item in menu_items -%}
              <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {%- endfor -%}
          </ul>
        </nav>  
      </div>      
    </div>

    <!-- <iframe src="https://cloudqubes.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe> -->
  </div>
</header>
