// $primary-color: #eb4034;
// $primary-color: #a60754;
$primary-color: #c21057;
// $primary-color: #de2900;
// $primary-color: #de2900;
$other-color: #C31030;
$text-color: #1a1a1a;

$cq-color-1:#EF6C00;