h1.post-title{
    font-family: 'Roboto', sans-serif;
    color: #4b4b4b;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #3a3a3a;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #4b4b4b;
}

p{
    font-family: 'Titillium Web', sans-serif;
    color: #2a2a2a;
}


