.post-link{
  font-family: 'Roboto', sans-serif;
  color: #C31030;
}
a.post-link:visited{
  color: #C31030;

}

h1.post-title{
    font-family: 'Roboto', sans-serif;
    color: #C31030;
}

.post-content{
    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 600;
        color: #C31030;
    }
    
    h2{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #C31030;
    }  

    h3{
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #C31030;
  } 
}


p{
    font-family: 'Titillium Web', sans-serif;
    color: #2a2a2a;
    font-size: 17px;

}

abbr{
    color: #C31030;
    text-decoration: none;
}


