---
layout: default
---

<div class="home row">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    {%- if site.posts.size > 0 -%}
      <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
      <ul class="post-list">
        {%- for post in site.posts -%}
          {%- unless post.my_categories contains "sub" -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {%- assign word_count = post.content | number_of_words -%}
            {%- assign read_minutes = word_count | divided_by: 200 -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <!-- <span>- <a href="category/{{post.categories[1] | downcase}}">{{post.categories[1] | upcase}}</a> - {{read_minutes}} Min read</span> -->
            <span>- {{read_minutes}} Min read</span>
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              {%- if site.show_excerpts -%}
                {{ post.content | strip_html | truncatewords: 50 }}
              {%- endif -%}
            {%- endunless -%}
        </li>
        {%- endfor -%}
      </ul>

      <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
    {%- endif -%}
  </div>
  <div class="col-sm-2"></div>

</div>
