---
layout: default
---

<div class="home row">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
</div>

  <!-- {{ content }} -->

<div class="header-row-2" >
  <div class="header-row-container">
    {%- if site.posts.size > 0 -%}
      <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
      <ul class="post-list">
        {%- for post in site.posts -%}
          {%- unless post.my_categories contains "sub" -%}
            <li>
              {% include article_list_item.html %}
            </li>
          {%- endunless -%}
        {%- endfor -%}
      </ul>

      <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
    {%- endif -%}
  </div>  
</div>



