---
layout: default
---


<h1 class="page-heading">Articles tagged with {{ page.tag-name }}</h1>

<div class="home row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    {%- if site.posts.size > 0 -%}
      <ul class="post-list">
        {%- for post in site.posts -%}
          {% if post.tags contains page.tag-name %}
            <li>
              {% include article_list_item.html %}
            </li>
          {% endif %}
        {%- endfor -%}
      </ul>

    {%- endif -%}
  </div>
  <div class="col-sm-2"></div>

</div>